@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #E8F1F2;
}

table {
    caption-side: bottom;
    border-collapse: separate;
}

.nav {
    width: 100%;
    position: relative;
    background-color: #247BA0;
    top: 0;
}

.nav nav {
    display: flex;
    align-items: center;
}

.nav .logo {
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
}

.nav h1 {
    margin-left: 2%;
}

.nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 0px;
    display: inline;
}

.nav a {
    margin-right: 40px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 18px;
    transition: all .5s;
}

.nav a:hover {
    color: #ffffff;
}

.page-title {
    margin-top: 100px;
    margin-left: 2%;
}

.cards-container {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.page-container {
    margin-left: 2%;
}

.footer {
    width: 100%;
    padding-top: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #247BA0;
}

.footer-relative {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: #247BA0;
}

.cadastro-container {
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #247BA0;
}

.cadastro input,
select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
}

.cadastro button {
    margin-top: 5px;
    width: 20%;
    margin-left: 40%;
    background-color: #E8F1F2;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
}

.cadastro fieldset {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
}

.label-titulo {
    margin-top: 20px;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
}

.login input,
select {
    margin-left: 0%;
    float: inline-end;
    height: 30px;
    border-radius: 10px;
}

.menu-produto {
    margin-top: -15px;
    background-color: #247BA0;
    padding: 5px;
    text-align: center;
}

.pesquisa input[type=search] {
    border-radius: 10px;
    width: 40%;
    height: 30px;
}

.pesquisa button {
    margin-left: 0%;
    float: inline-start;
    height: 25px;
    border-radius: 10px;
}

.cadastro-produto {
    width: 100vw;
    height: 100vh;
    background-color: #E8F1F2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-produto-container {
    width: fit-content;
    height: fit-content;
    background-color: #247BA0;
    border-radius: 10px;
    border: 2px solid black;
}

.cadastro-produto-container fieldset {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    float: left;
}

.cadastro-produto-container input,
select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
}

.cadastro-categoria {
    width: 100vw;
    background-color: #E8F1F2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-categoria-container {
    width: fit-content;
    height: fit-content;
    background-color: #247BA0;
    border-radius: 10px;
    border: 2px solid black;
}

.cadastro-categoria-container fieldset {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    float: left;
}

.cadastro-categoria-container input,
select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
    font-style: bold;
}

.sobre h1 {
    left: 41.7%;
    position: absolute;
    text-align: center;
}

.sobre p {
    word-wrap: break-word;
    width: 500px;
    text-align: center;
    background: #13293D;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.cartprod {
    border: 1px solid #247BA0;
    margin: 10px;
}

.cartprod img {
    display: inline-block;
    align-items: center;
    margin-top: -80px;
}

.cartprod-conteudo {
    padding: 5px;
    display: inline-block;
}

.cartprod-conteudo span {
    display: flex;
    padding: 3px;
    font-size: 18px;
    margin: 5px;
    border: 1px solid #247BA0;
    border-radius: 10px;
}

.botoes-admin button {
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
    transition: all .7s;
    justify-content: center;
    text-align: center;
}
.botoes-admin {
    margin-left: 25%;
    display: inherit;
}

.botoes-admin button:hover {
    background-color: #247BA0;
}

.lista-categoria {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-categoria td {
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}

.lista-categoria th {
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}

.lista-categoria tr {
    background-color: #247BA0;
    border-radius: 10px;
    padding: 5px;
}

.lista-categoria table {
    background-color: #247BA0;
    border-radius: 10px;
    padding: 5px;
}

.lista-produto {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-produto td {
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}

.lista-produto th {
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}

.lista-produto tr {
    background-color: #247BA0;
    border-radius: 10px;
    padding: 5px;
}

.lista-produto table {
    background-color: #247BA0;
    border-radius: 10px;
    padding: 5px;
}

.btnCadastrar {
    padding: 5px;
    background-color: #E8F1F2;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 20px;
    font-style: bold;
}

.cadastro-cliente {
    width: 100vw;
    height: 100vh;
    background-color: #E8F1F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-cliente-container {
    width: fit-content;
    height: fit-content;
    background-color: #247BA0;
    border-radius: 10px;
    border: 2px solid black;
}

.cadastro-cliente-container fieldset {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    float: left;
}

.cadastro-cliente-container input,
select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
}

.btn-tabela {
    padding: 10px;
    background-color: #E8F1F2;
    border: none;
    border-radius: 5px;
    color: red;
    margin-left: 2px;
}

.produtos h1 {
    margin-top: -0px;
    justify-content: center;
    text-align: center;
}
.produtos img {
    justify-content: right;
}

.carrinho {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.carrinho-container {
    display: flex;
    justify-content: right;
}

.carrinho img {
    margin-left: 15px;
}
.carrinho span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}

#menu-produtos{
    display:block;
}

#card-finalizar-compra{
    margin: 20px;
    padding: 20px;
    border: 1px solid #247BA0;
    display: none;
}
#card-carrinho {
    margin: 20px;
}

.btn-primary {
    --bs-btn-color: #E8F1F2;
    --bs-btn-bg: #247BA0;
    --bs-btn-border-color: #247BA0;
    --bs-btn-hover-color: #247BA0;
    --bs-btn-hover-bg: #E8F1F2;
    --bs-btn-hover-border-color: #247BA0;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #E8F1F2;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #E8F1F2;
    --bs-btn-disabled-bg: #247BA0;
    --bs-btn-disabled-border-color: #247BA0;
}

.btn-secondary {
    --bs-btn-color: black;
    --bs-btn-bg: #E8F1F2;
    --bs-btn-border-color: #E8F1F2;
    --bs-btn-hover-color: #247BA0;
    --bs-btn-hover-bg: #E8F1F2;
    --bs-btn-hover-border-color: #E8F1F2;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #247BA0;
    --bs-btn-active-bg: #E8F1F2;
    --bs-btn-active-border-color: #E8F1F2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #247BA0;
    --bs-btn-disabled-bg: #E8F1F2;
    --bs-btn-disabled-border-color: #E8F1F2;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.botoes-admin-container{
    display: flex;
}
.cadastro-cliente-container input{
    font-size: 16px;
    font-weight: bold;
}
.cadastro-cliente-container {
    margin-top: 1vw;
    font-size: 16px;
}
.lista-pedido {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-pedido td {
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}

.lista-pedido th {
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}

.lista-pedido tr {
    background-color: #247BA0;
    border-radius: 10px;
    padding: 5px;
}

.lista-pedido table {
    background-color: #247BA0;
    border-radius: 10px;
    padding: 5px;
}
.pedidos h1 {
    margin-top: -0px;
    justify-content: center;
    text-align: center;
}
#card-pedidos {
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
    border: 2px solid #247BA0;
}
.card-pedido-conteudo {
    padding: 5px;
    display: grid;
    background-color: #247BA0;
    margin: 15px;
}

.card-pedido-conteudo span {
    font-size: 18px;
    margin: 5px;
    border: 2px solid #247BA0;
    padding: 3px;
    border-radius: 10px;
    background-color: #E8F1F2;
}
.input-quantidade {
    border-radius: 5px;
    border: 1px solid #247BA0;
    width: 50px;
    height: 25px;
    margin-left: 5px;
    background-color: #E8F1F2;
}
/*  .carta-container{
    position: relative;
    width: 150px;
    height: 200px;
    margin: 20px;
}
.carta-container:hover #carta{
    transform: rotateY(180deg);
}
#carta {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
#frente {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #13293D;
}

#atras {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color:#510505;
    transform: rotateY(180deg);
}  */