
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: #E8F1F2;
}

.nav {
    width: 100%;
    position: relative;
    background-color: #247BA0;
    top: 0;
}

.nav nav {
    display: flex;
    align-items: center;
}

.nav .logo {
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
}

.nav h1 {
    margin-left: 2%;
}

.nav li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 0px;
    display: inline;
}

.nav a {
    margin-right: 40px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 18px;
    transition: all .5s;
}

.nav a:hover {
    color: #ffffff;
}

.page-title {
    margin-top: 100px;
    margin-left: 2%;
}

.cards-container {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
}

.page-container {
    margin-left: 2%;
}

.footer {
    width: 100%;
    padding-top: 0px;
    text-align: center;
    position:fixed;
    bottom: 0;
    background-color: #247BA0;
}

.footer-relative {
    width: 100%;
    padding: 20px;
    text-align: center;
    position:relative;
    bottom: 0;
    background-color: #247BA0;
}

.cadastro-container{
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadastro {
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #247BA0;
}
.cadastro input,
select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
}
.cadastro button{
    margin-top: 5px;
    width: 20%;
    margin-left: 40%;
    background-color: #E8F1F2;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
}
.cadastro fieldset{
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
}
.label-titulo{
    margin-top: 20px;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
}
.login input,
select {
    margin-left: 0%;
    float: inline-end;
    height: 30px;
    border-radius: 10px;
}
.menu-produto {
    margin-top: -15px;
    background-color: #247BA0;
    padding: 5px;
}
.menu-produto li{
    margin-top: 10px;
    float: left;
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-top: 5px;
}
.menu-produto a{
    margin-right: 40px;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}
.pesquisa input[type=search] {
    border-radius: 10px;
    width: 40%;
    height: 30px;
}

.pesquisa button {
    margin-left: 0%;
    float: inline-start;
    height: 25px;
    border-radius: 10px;
}
.cadastro-produto {
    width: 100vw;
    height: 100vh;
    background-color: #E8F1F2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro-produto-container {
    width: fit-content;
    height: fit-content;
    background-color: #247BA0;
    border-radius: 10px;
    border: 2px solid black;
}
.cadastro-produto-container fieldset {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    float: left;
}
.cadastro-produto-container input, select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
}
.cadastro-categoria {
    width: 100vw;
    background-color: #E8F1F2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro-categoria-container {
    width: fit-content;
    height: fit-content;
    background-color: #247BA0;
    border-radius: 10px;
    border: 2px solid black;
}
.cadastro-categoria-container fieldset {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    float: left;
}
.cadastro-categoria-container input, select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
    font-style: bold;
}
.sobre h1{
    left: 41.7%;
    position: absolute;
    text-align: center;
}
.sobre p {
    word-wrap:break-word;
    width: 500px;
    text-align: center;
    background: #13293D;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.cartprod{
    border:1px solid #247BA0;
}
.cartprod img,p{
   display: inline-block;
   align-items: center;
}
.cartprod-teste{
    display: inline-block;
}
.cartprod span {
    display: flex;
}
.botoes-admin button {
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 2%;
    cursor: pointer;
    transition: all .7s;
    justify-content: center;
    display: inline;
}
.botoes-admin button:hover{
    background-color: #247BA0;
}
.lista-categoria {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-categoria td{
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}
.lista-categoria th{
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}
.lista-categoria tr{
    background-color:#247BA0;
    border-radius: 10px;
    padding: 5px;
}
.lista-categoria table{
    background-color: #247BA0;
    border-radius: 10px ;
    padding: 5px;
}
.lista-produto {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-produto td{
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}
.lista-produto th{
    background-color: #E8F1F2;
    border-radius: 5px;
    padding: 5px;
}
.lista-produto tr{
    background-color:#247BA0;
    border-radius: 10px;
    padding: 5px;
}
.lista-produto table{
    background-color: #247BA0;
    border-radius: 10px ;
    padding: 5px;
}
.btnCadastrar {
    padding: 5px;
    background-color: #E8F1F2;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 2%;
    font-size: 20px;
    font-style: bold;
}
.cadastro-cliente {
    width: 100vw;
    height: 100vh;
    background-color: #E8F1F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro-cliente-container {
    width: fit-content;
    height: fit-content;
    background-color: #247BA0;
    border-radius: 10px;
    border: 2px solid black;
}
.cadastro-cliente-container fieldset {
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    float: left;
}
.cadastro-cliente-container input, select {
    margin-left: 5%;
    margin-right: 5%;
    float: inline-end;
    margin: 5px 0;
    height: 30px;
    border-radius: 10px;
    display: flex;
    width: 500px;
}